body{
    background: #c7ebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.work-area{
    background-color: #c7ebeb;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.205);
    width: 80%;
    height: 80%;
    display: flex;
    border-radius: 10px;
}
.left-side{
    width: 100%;
    height: 100%;
    display: block;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.signup-side{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
form{
    position: relative;
    top: -70px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.form-heading{
    font-size: 25px;
    font-family: Arial, sans-serif;
}
input {
    font-size: 16px;
    padding: 5px 15px;
    margin-bottom: 7px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.274);
    outline: none;
    background: rgba(255, 255, 255, 0.356);
}
button{
    background: #688ea5;
    color: white;
    padding: 7px 25px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: 550;
}
button:hover{
    filter: brightness(1.2);
}


